.b{

    background-image: url(background.jpeg);
    background-size: 100%;
    background-position-y:-98.5px ;

}
.i{

    width: 120px;
    margin-top: 14px;
    margin-left: 40px;

}
.l{

    list-style: none;
    margin-left: 330px;
    margin-top: -20px;

}
.l1{

    display: inline;
    font-family: "Gotham";
    font-size: 13px;
    color: white;
    margin-left: 28px;
    font-weight: bold;
    letter-spacing: 1px;

}
.z{

    list-style: none;
    margin-top: -36px;
    margin-left: 1040px;

}
.p{

    color: white;
    font-size: 39px;
    font-family: "Gotham";
    font-weight: bold;
    margin-left: 602px;
    margin-top: 78px;

}
.d{

    height: 75px;
    width: 700px;
    margin-top: 360px;
    margin-left: 190px;

}
.ol{

    list-style: none;

}
.list{

    display: inline-block;
    margin-left: 90px;

}
.d1{

    font-family: "Gotham";
    font-size: 26px;
    color: white;
    font-weight: bold;

}
.d2{

    font-family: "Gotham";
    font-size: 12px;
    color: white;
    margin-top: 10px;
    margin-left: 8px;

}
.d3{

    font-family: "Gotham";
    color: white;
    font-size: 12px;
    margin-top: 8px;
    margin-left: -6px;

}
.d4{

    font-family: "Gotham";
    color: white;
    font-size: 12px; 
    margin-top: 7px;  

}
.list1{

    margin-top: -50px;
    margin-left:630px;

}
.d5{

    width: 200px;
    height: 40px;
    background-color: transparent;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    color: white;
    font-family: "Gotham";
    font-size: 15px;
    font-weight: bold;

}
.d5:hover{

    background-color: white;
    color: black;
    cursor: pointer;
    transition-duration: 0.5s;

}
.l1:hover{

    background-color:rgba(130, 130, 130, 0.2) ;
    box-shadow: 0px 0px 0px 10px rgba(130, 130, 130, 0.2);
    border-radius: 2px;
    transition-duration: 0.6s;
    cursor: pointer;
}
@font-face {
    font-family: "Gotham";
    src: url("Gotham.woff2");
}